extends ../layoutPage
append config
	- Pagetitle = 'Light theme| index'
	-
		css_vendor = [

		]
	- 
		js_vendor = [

		]

//- background or parallax here
block background

//- header here
block header
	p This is dark theme
//- main content here
block main
	
//- footer here
block footer
//- popup here
block popup