-
	var nav_items = [
		{'class':'nav_list','li':[
			{'href':'dynamic_theme.html',
			'link':'Home','class':'active'},
			{'href':'about.html',
			'link':'About'},
			{'href':'works.html',
			'link':'Works'},
			{'href':'contact.html',
			'link':'Contact'},
		]}
	]
-
	var nav_about = [
		{'class':'nav_list','li':[
			{'href':'dynamic_theme.html',
			'link':'Home'},
			{'href':'about.html',
			'link':'About','class':'active'},
			{'href':'works.html',
			'link':'Works'},
			{'href':'contact.html',
			'link':'Contact'},
		]}
	]
-
	var nav_work = [
		{'class':'nav_list','li':[
			{'href':'dynamic_theme.html',
			'link':'Home'},
			{'href':'about.html',
			'link':'About'},
			{'href':'works.html',
			'link':'Works','class':'active'},
			{'href':'contact.html',
			'link':'Contact'},
		]}
	]
-
	var nav_contact = [
		{'class':'nav_list','li':[
			{'href':'dynamic_theme.html',
			'link':'Home'},
			{'href':'about.html',
			'link':'About'},
			{'href':'works.html',
			'link':'Works'},
			{'href':'contact.html',
			'link':'Contact','class':'active'},
		]}
	]
-
	var nav_socials = [
		{'class':'nav_socials','li':[
			{'href':'skype:trangpl193?chat',
			'icon':'fab fa-skype'},
			{'href':'mailto:lemongreen193@gmail.com',
			'icon':'far fa-envelope-open'},
			{'href':'https://www.facebook.com/trang.phamlinh.7',
			'icon':'fab fa-facebook-f'},
			{'href':'https://www.instagram.com/illusionist193/?hl=en',
			'icon':'fab fa-instagram'},

		]}
	]