//- mixin illus_bg(content)
	
mixin intro(content)
	section.intro(id=content.id)
		.grid-container.grid-x
			.cell.large-6.desc
		
section#pr_about.intro
	.grid-container.grid-x
		.cell.large-6.desc
			h3.title About me
			p
				| I’m a UI/UX Designer from HaNoi (VietNam). I love everything that has to do with UI/UX design, UI interactions, Graphic design and I feel a true devotionfor typography.I have 4 years of experience working as a freelancer and working on some start up! I love working with people, specially if they have the same passion I have for what they do.
				br
				br
				| Why don’t we work together? Go futher down to see why I am the man you need to hire!

		.cell.large-6.illus_container
			a#contact_btn(href="contact.html") Contact me
				svg#cont_en
