section.feature.left#pr1
	.grid-container.grid-x
		.cell.large-5.illus
			.para_box
				.illus_bg
					svg#pr1_bg
				img(src="../img/home/pr1.png", alt="ISME WEBSITE", data-parallax='{"y": -50, "smoothness": 30}')
				
		.cell.large-5.desc.large-offset-1
			h3.title  INTERNATIONAL SCHOOL OF MANAGEMENT & ECONOMICS
				br
				small Website
			p.short_des
				| New look with youth spirit
			p ToughtSpot’s AI-Driven platform allows anyone to easily gain insight from their company data in a matter of seconds. Just one click allows you to search and analyze data, and get automated insights.
			a.button(href="work_isme.html") About Project
						

