section#pr_skills.feature.left
	.grid-x.grid-container
		.large-5.cell.desc
			h3.title
				| Full stack 
				small Designer
			p I value simple content structure, clean design patterns, and thoughtful interactions.
			p I tend to code things from scratch, and enjoy bringing ideas to life in the browser.
		.large-7.cell.illus_container
			svg#ft_deskbg
			svg#ft_rain
			svg#ft_mb1
			
