section.feature.right#pr2
	
	.grid-container.grid-x
		.cell.large-5.desc
			h3.title Open99 Group
				br
				small Brand Identity
			p.short_des
				| New look with youth spirit
			p ToughtSpot’s AI-Driven platform allows anyone to easily gain insight from their company data in a matter of seconds. Just one click allows you to search and analyze data, and get automated insights.
			a.button(href="work_open99.html") About Project	
		.cell.large-6.illus.large-offset-1
			.para_box(data-parallax='{"y": -30, "smoothness": 30}')
				svg.illus_bg#pr2_bg
				img(src="../img/home/pr2-01.png", alt="SON NAM GROUP")

