section.feature.left#pr3
	svg.illus_bg#pr3_bg
	.grid-container.grid-x
		.cell.large-6.illus
			.para_box(data-parallax='{"y": -50, "smoothness": 30}')
				img(src="../img/home/pr3.png", alt="IBD@NEU website")
				
		.cell.large-5.large-offset-1.desc
			h3.title  INTERNATIONAL BACHELOR DEGREE 
				br
				small at National Economics University
			p.short_des
				| Bring youth
			p ToughtSpot’s AI-Driven platform allows anyone to easily gain insight from their company data in a matter of seconds. Just one click allows you to search and analyze data, and get automated insights.
			a.button(href="work_isme.html") About Project
						

