section.feature.right#pr4
	.grid-container.grid-x
		.cell.large-5.desc
			h3.title Bigschool.vn
				br
				small Concept / Branding / Website
			p.short_des
				| New look with youth spirit
			p ToughtSpot’s AI-Driven platform allows anyone to easily gain insight from their company data in a matter of seconds. Just one click allows you to search and analyze data, and get automated insights.
			h4
				a.button(href="work_sonnam.html") About Project	
		.cell.large-6.illus.large-offset-1
			.para_box(data-parallax='{"y": -80, "smoothness": 30}')
				svg.illus_bg#pr4_bg
				img(src="../img/home/pr4.png", alt="SON NAM GROUP")

