mixin fb-page-timeline()
	.fb-page(data-href="https://www.facebook.com/sonnam.jsc/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false")
		blockquote(cite="https://www.facebook.com/sonnam.jsc/" class="fb-xfbml-parse-ignore")
			a(href="https://www.facebook.com/sonnam.jsc/") Nhà máy sản xuất Bột đá trắng Siêu Mịn - Công ty CP Sơn Nam

mixin fb-page-friend()
	.fb-page(data-href="https://www.facebook.com/sonnam.jsc/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true")
		blockquote(cite="https://www.facebook.com/sonnam.jsc/" class="fb-xfbml-parse-ignore")
			a(href="https://www.facebook.com/sonnam.jsc/") Nhà máy sản xuất Bột đá trắng Siêu Mịn - Công ty CP Sơn Nam

mixin fb-page()
	.fb-page(data-href="https://www.facebook.com/sonnam.jsc/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false")
		blockquote(cite="https://www.facebook.com/sonnam.jsc/" class="fb-xfbml-parse-ignore")
			a(href="https://www.facebook.com/sonnam.jsc/") Nhà máy sản xuất Bột đá trắng Siêu Mịn - Công ty CP Sơn Nam