//- select 
//- -----------------------------------
mixin select-sb(option)
	.tp-select-mat
		select
			option Value 1
			option Value 2
			option Value 3
		span.bar
		label.control-label(for='.tp-select-mat')= option