include config

include components/alerts
include components/badge
include components/breadcrumb
include components/button_group
include components/buttons
include components/card
include components/carousel
include components/collapse
include components/dropdowns
include components/forms
include components/input_group
include components/jumbotron
include components/list_group
include components/modal
include components/navbar
include components/navs
include components/pagination
include components/popovers
include components/progress
include components/scrollspy
include components/tooltips