extends layout
append config
	-
		css_vendor = [

		]
	- 
		js_vendor = [
			'theming'
		]

//- background or parallax here
block background
	include includes/backgrounds/_theming
//- header here
block header
//- main content here
block main
	
//- footer here
block footer
//- popup here
block popup