.st0 {
  fill: #F2F2F2; }

.st1 {
  fill: none;
  stroke: #B3B3B3;
  stroke-miterlimit: 10; }

.st2 {
  fill: #CCCCCC; }

.st3 {
  fill: #B3B3B3; }

.st4 {
  fill: #AE7B3F; }

.st5 {
  fill: #F7931E; }

.st6 {
  fill: #FF0000; }

.st7 {
  fill: #FF00FF; }

.st8 {
  fill: #39B54A; }

.st9 {
  fill: #FBB03B; }

.st10 {
  fill: none;
  stroke: #000000;
  stroke-width: 2.0043;
  stroke-miterlimit: 10;
  stroke-dasharray: 2.017883e-02,4.2543,8.5288,4.2644,426.4414,0; }

.st11 {
  fill: #FFFFFF;
  stroke: #494949;
  stroke-width: 0.75;
  stroke-miterlimit: 10;
  stroke-dasharray: 2.000000e-02,4.2543,8.5288,4.2644,426.4414,0; }

.st12 {
  fill: #EDFF00; }

.st13 {
  fill: none;
  stroke: #494949;
  stroke-width: 0.75;
  stroke-miterlimit: 10;
  stroke-dasharray: 2.000000e-02,4.2543,8.5288,4.2644,426.4414,0; }

.st14 {
  fill: #BFCFF0; }

.st15 {
  fill: #DCE6F8; }

.st16 {
  fill: #FF0006; }

.st17 {
  fill: #61CD41; }

.st18 {
  fill: #8EDE7B; }

.st19 {
  fill: #30B72A; }

.st20 {
  fill: #BFFFA4; }

.st21 {
  fill: #FF8D00; }

.st22 {
  fill: #00B836; }

.st23 {
  fill: #B0C5E7; }

.st24 {
  fill: #D1DEF5; }

.st25 {
  fill: none;
  stroke: #000000;
  stroke-width: 2.0043;
  stroke-miterlimit: 10; }

.st26 {
  fill: none;
  stroke: #B47F5A;
  stroke-width: 1.1181;
  stroke-miterlimit: 10; }

.st27 {
  fill: none;
  stroke: #000000;
  stroke-width: 1.1181;
  stroke-miterlimit: 10;
  stroke-dasharray: 0,3.3544,3.3544,3.3544,181.2009; }

.st28 {
  fill: #926030; }

.st29 {
  fill: none;
  stroke: #000000;
  stroke-miterlimit: 10;
  stroke-dasharray: 0,3.3544,3.3544,3.3544,181.2009; }

.st30 {
  fill: #B47F5A; }

.st31 {
  fill: none; }

.st32 {
  fill: none;
  stroke: #000000;
  stroke-width: 2.0043;
  stroke-miterlimit: 10;
  stroke-dasharray: 26.7238,6.6809,10.0214,6.6809,334.0471,0; }

.st33 {
  fill: #161616; }

.st34 {
  fill: #141414; }

.st35 {
  fill: none;
  stroke: #FFAC00;
  stroke-width: 2.3796;
  stroke-miterlimit: 10; }

.st36 {
  fill: #FFAC00;
  stroke: #333333;
  stroke-width: 1.6781;
  stroke-miterlimit: 10; }

.st37 {
  opacity: 0.2;
  fill: #333333; }

.st38 {
  fill: #0096CC; }

.st39 {
  fill: none;
  stroke: #000000;
  stroke-width: 4.7592;
  stroke-miterlimit: 10; }

.st40 {
  fill: #FFCE00; }

.st41 {
  fill: #EAA700; }

.st42 {
  fill: none;
  stroke: #000000;
  stroke-width: 2.3796;
  stroke-miterlimit: 10;
  stroke-dasharray: 0,11.8981,23.7962,11.8981,1189.8076; }

.st43 {
  opacity: 0.7;
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2.3796;
  stroke-linecap: round;
  stroke-miterlimit: 10; }

.st44 {
  fill: none;
  stroke: #E6E6E6;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 0,7,345,16,563,5; }

.st45 {
  fill: none;
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit: 10; }

.st46 {
  fill: none;
  stroke: #000000;
  stroke-width: 2.3888;
  stroke-miterlimit: 10; }

.st47 {
  fill: #FDFF00; }

.st48 {
  fill: none;
  stroke: #4D4D4D;
  stroke-width: 0.5;
  stroke-miterlimit: 10; }

.st49 {
  fill: #333333; }

.st50 {
  fill: #FFFFFF;
  stroke: #CCCCCC;
  stroke-miterlimit: 10; }

.st51 {
  fill: none;
  stroke: #979797;
  stroke-miterlimit: 10; }

.st52 {
  fill: none;
  stroke: #CCCCCC;
  stroke-miterlimit: 10; }

.st53 {
  fill: none;
  stroke: #CCCCCC;
  stroke-width: 0.5;
  stroke-miterlimit: 10; }

.st54 {
  fill: #C1272D; }

.st55 {
  fill: #0071BC; }

.st56 {
  fill: #8C6239; }

.st57 {
  fill: #00A99D; }

.st58 {
  fill: #E2B486; }

.st59 {
  fill: #2DD6C5; }

.st60 {
  fill: none;
  stroke: #333333;
  stroke-width: 1.6307;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.st61 {
  fill: none;
  stroke: #333333;
  stroke-width: 1.223;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.st62 {
  fill: #6EA01F; }

.st63 {
  fill: none;
  stroke: #000000;
  stroke-width: 0.6714;
  stroke-linecap: round;
  stroke-miterlimit: 10; }

.st64 {
  fill: #A07958; }

.st65 {
  fill: #896245; }

.st66 {
  fill: #FF55A9; }

.st67 {
  fill: #EAEBED; }

.st68 {
  fill: #FFA900; }

.st69 {
  fill: #00ACEC; }

.st70 {
  fill: none;
  stroke: #FFAC00;
  stroke-width: 1.6781;
  stroke-miterlimit: 10; }

.st71 {
  fill: none;
  stroke: #61CD41;
  stroke-width: 1.6781;
  stroke-miterlimit: 10; }

.st72 {
  fill: none;
  stroke: #3ECD41;
  stroke-miterlimit: 10; }

.st73 {
  opacity: 0.5;
  fill: #FFFFFF;
  stroke: #FFFFFF;
  stroke-width: 3;
  stroke-miterlimit: 10; }

.st74 {
  fill: none;
  stroke: #000000;
  stroke-width: 4;
  stroke-miterlimit: 10;
  stroke-dasharray: 26.7238,6.6809,10.0214,6.6809,334.0471,0; }

.st75 {
  fill: #EFC203; }

.st76 {
  opacity: 0.6; }

.st77 {
  fill: none;
  stroke: #E6E6E6;
  stroke-miterlimit: 10; }

.st78 {
  fill: #FFFFFF; }

.st79 {
  fill: none;
  stroke: #EAEAEA;
  stroke-miterlimit: 10; }

.st80 {
  fill: #E6E6E6; }

.st81 {
  fill: none;
  stroke: #A5A5A5;
  stroke-miterlimit: 10; }

.st82 {
  font-family: 'Roboto-Italic'; }

.st83 {
  font-size: 9.5286px; }

.st84 {
  font-family: 'Roboto-Bold'; }

.st85 {
  font-size: 14.9397px; }

.st86 {
  opacity: 0.6;
  fill: none; }

.st87 {
  fill: #F5F5F5; }

.st88 {
  fill: none;
  stroke: #8EBA3B;
  stroke-miterlimit: 10; }

.st89 {
  fill: none;
  stroke: #F79433;
  stroke-miterlimit: 10; }

.st90 {
  fill: none;
  stroke: #E31C24;
  stroke-width: 10;
  stroke-miterlimit: 10; }

.st91 {
  fill: #D9D9D9; }

.st92 {
  fill: #2862AD; }

.st93 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FFFFFF;
  stroke: #2862AD;
  stroke-miterlimit: 100; }

.st94 {
  fill: #9C1D21; }

.st95 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FFFFFF;
  stroke: #9C1D21;
  stroke-miterlimit: 100; }

.st96 {
  fill: #D98326; }

.st97 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FFFFFF;
  stroke: #D98326;
  stroke-miterlimit: 100; }

.st98 {
  fill: #105A2E; }

.st99 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FFFFFF;
  stroke: #105A2E;
  stroke-miterlimit: 100; }

.st100 {
  fill: #621F0D; }

.st101 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FFFFFF;
  stroke: #621F0D;
  stroke-miterlimit: 100; }

.st102 {
  -webkit-clip-path: url(#SVGID_3_);
  clip-path: url(#SVGID_3_); }

.st103 {
  -webkit-clip-path: url(#SVGID_4_);
  clip-path: url(#SVGID_4_); }

.st104 {
  -webkit-clip-path: url(#SVGID_7_);
  clip-path: url(#SVGID_7_); }

.st105 {
  -webkit-clip-path: url(#SVGID_8_);
  clip-path: url(#SVGID_8_);
  fill: #105A2E; }

.st106 {
  opacity: 0.5;
  fill: none;
  stroke: #999999;
  stroke-width: 3;
  stroke-miterlimit: 10; }
