
mixin svg_rd(content)
	.rd_shapes(class!=content.class, id=content.id)
mixin svg_rd_w(content)
	.rd_shapes(class!=content.class, id=content.id + '_white')
-
	var svg_rd = [
		{'id':'tri1','class':'tri1'},
		{'id':'pen1','class':'pen1'},
		{'id':'hex1','class':'hex1'},
		{'id':'tri2','class':'tri2'},
		{'id':'pen2','class':'pen2'},
		{'id':'hex2','class':'hex2'},


	]

// content here
.grid-x
	.cell.large-6.light_theme
		each item in svg_rd
			+svg_rd(item)
		a.main_btn(href="pages/light_theme.html")
			p ILLUSTRATION
			p Theme
	.cell.large-6.dark_theme
		each item in svg_rd
			+svg_rd_w(item)
		a.main_btn(href="pages/dynamic_theme.html")
			p DYNAMIC
			p Theme
